.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-not-found {
    text-align: center;
    border-radius: 10px;
    background-color: #FFF;
    padding: 80px;
    box-shadow: #C0C0C0 10px 10px 20px;
}

.container-not-found h2 {
    font-size: 44px;
}

.container-not-found p {
    font-size: 28px;
}

@media (max-width: 750px) {
    .container-not-found {
        max-width: 90%;
        margin: 180px auto 10px auto;
    }
}
