.container {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sidenav-home {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: rgba(248, 248, 248, 0.95); */
    background-color: #FDFDFD;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 15px;
    box-shadow: 0 .15em .4em #818181;
}

.sidenav-home-open {
    width: 400px;
    max-width: 100%;
}

.sidenav-home .close-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sidenav-home .close-button i {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    color: #589fa1;
}

.list-menu {
    cursor: pointer;
    color: #589fa1;
    margin: 20px 10px;
    padding: 10px;
    max-width: 30px;
}

.user-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.user-options i {
    padding: 10px;
}

.user-options ul {
    list-style-type: none;
    width: 100%;
}

.user-options ul li {
    width: 100%;
}

.user-options ul li:hover a {
    background-color: rgba(215, 215, 215, 0.95);
    cursor: pointer;
}

.user-options ul li a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #A1A1A1;
    display: block;
    transition: 0.2s;
    width: 100%;
}

.user-options ul li:hover a {
    color: #387f81;
}


@media (max-width: 800px) {

    .sidenav-home {
        padding-top: 15px;
    }

    .sidenav-home-open {
        width: 380px;
        max-width: 100%;
    }

    .sidenav-home a {
        font-size: 18px;
    }

}