<div class="list-nav-container">
    <div class="title">
        <h3>My lists</h3>
        <button class="send-button" (click)="newTaskList()">New Task List</button>
    </div>
    <div *ngIf="taskLists && taskLists !== null && taskLists.length > 0" class="my-task-lists">
        <hr class="solid">
        <ul>
            <li (click)="showAllMyTasks()">
                <span>Show All Tasks</span>
            </li>
            <li (click)="selectTaskList(taskList)" *ngFor="let taskList of taskLists; index as i">
                <span>{{ taskList.listName }}</span>
            </li>
        </ul>
    </div>
</div>