<div class="container">
    <div class="card-form">
        <h2>Forget your password</h2>
        <p>Tell us your e-mail to recover your password</p>
        <form [formGroup]="formForgetPassword" (submit)="sendRequest()">
            <div class="label-field">
                <label class="label">E-mail: </label>
                <input formControlName="email" type="email" required class="text-field">
                <p *ngIf="formForgetPassword.get('email')!.invalid && formForgetPassword.get('email')!.touched"
                    class="error-field-message">
                    Error on e-mail input.
                </p>
            </div>
            <div>
                <div class="div-submit-button">
                    <button [disabled]="formForgetPassword.invalid" type="submit" class="send-button">Send</button>
                </div>
                <div class="div-submit-button-auth">
                    <a class="side-link" routerLink="/userregistration">New user?, Register here</a>
                    <a class="side-link" routerLink="/login">Make Login</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<app-error-message [errorMessage]="errorMessage" (onClose)="closeErrorMessage()" />