<div class="container">
    
    <div class="card-personal-info">
        <h2>Change My Password</h2>
        <div class="profile-info">
            <div class="label-field">
                <label class="label"> {{ firstName }} {{ lastName }} </label>
            </div>
        </div>
        <hr/>
        <div class="profile-form">
            <form [formGroup]="formMyPassword" (submit)="updateMyPassword()">
                <div class="label-field">
                    <label class="label">New Password: </label>
                    <input formControlName="password" type="password" required class="text-field">
                    <p *ngIf="formMyPassword.get('password')!.invalid && formMyPassword.get('password')!.touched"
                        class="error-field-message">
                        Error on first name input.
                    </p>
                </div>
                <div>
                    <div class="div-submit-button">
                        <button [disabled]="formMyPassword.invalid" type="submit" class="send-button">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>

<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<app-error-message [errorMessage]="errorMessage" (onClose)="closeErrorMessage()" />
<app-success-message [message]="suscessMessage" (onClose)="closeMessage()" />
