/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: center;
    font: sans-serif;
    color: #6A816A;
}

hr {
    margin: 10px 30px 30px 30px;
}

body {
    background-color: #F1F1F1;
    background-image: linear-gradient(to top right, #DAF1DA, #EFF1EF);
    min-height: 100vh;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin: 5px;
    right: 0;
    display: none;
    position: absolute;
    background-color: #F5F5F5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}


.dropdown-content a {
    color: black;
    padding: 13px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { 
    background-color: #f1f1f1;
}

.dropdown-content:hover {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user-menu:hover .dropdown-content {
    display: block;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: 2px 0;
}

/*----------------------------------*/
/*       Container and forms        */
/*----------------------------------*/

.card-form {
    width: 100%;
    max-width: 750px;
    margin: 20px auto;
    padding: 25px 30px;
    background-color: rgba(248, 248, 248, 0.5);
    border-radius: .5em;
    box-shadow: .15em .15em .4em #818181;
}

.card-personal-info {
    width: 90%;
    margin: 20px auto;
    padding: 25px 30px;
    background-color: rgba(248, 248, 248, 0.5);
    border-radius: .5em;
    box-shadow: .15em .15em .4em #818181;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label-field {
    padding: 3px 6px;
    display: flex;
    flex-direction: column;
}

.select-field {
    margin: 5px 0 0;
    padding: 15px;
    border: 0;
    border-radius: 0;
    outline: 0;
    resize: none;
    font-size: 16px;
    line-height: 17px;
    background-color: #fff;
    color: #818181;
    border: .5px solid #818181;
    border-radius: 1px;
    font-family: sans-serif;
    font-weight: 400;
    width: 100%;
}

.text-field {
    margin: 5px 0 0;
    padding: 10px;
    outline: 0;
    resize: none;
    font-size: 16px;
    line-height: 17px;
    background-color: #fff;
    color: #818181;
    border: .2px solid #C1C1C1;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: 400;
    width: 100%;
}

.textarea {
    margin: 5px 0 0;
    padding: 15px;
    border: 0;
    border-radius: 0;
    outline: 0;
    resize: none;
    font-size: 16px;
    line-height: 17px;
    background-color: #fff;
    color: #818181;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 10em;
    border: .2px solid #C1C1C1;
    border-radius: 1px;
}

.div-submit-button-auth {
    margin-top: 15px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
}

.side-link {
    line-height: 36px;
    padding: 1px 10px;
    font-size: 13px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #6A816A;
}

.send-button {
    width: 100%;
    height: 39px;
    line-height: 36px;
    margin: 0;
    padding: 1px 25px;
    font-size: 13px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background .4s;
    border-radius: 50px;
    outline: none;
    border: 1px solid #9AB19A;
    color: #FFFFFF;
    background-color: #9AB19A;
}

.send-button:hover {
    background-color: #6A816A;
    border: 1px solid #6A816A;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.send-button:disabled {
    color: #FFFFFF;
    cursor: auto;
    border: 1px solid #A0A0A0;
    background-color: #A0A0A0;
}

.send-button:disabled:hover {
    color: #FFFFFF;
    cursor: auto;
    border: 1px solid #A0A0A0;
    background-color: #A0A0A0;
}

.error-field-message {
    color: #A22029;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 5px;
    text-align: start;
}

.label {
    color: #555555;
    font-size: 16px;
    font-family: sans-serif;
}

.div-submit-button {
    margin-top: 15px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.divider {
    padding: 0.5px;
    background-color: #C1C1C1;
    margin: 50px 0 20px 0;
}

@media (max-width: 950px) {
    .card-form {
        max-width: 90%;
    }

    .card-personal-info {
        max-width: 90%;
    }
}

@media (max-width: 700px) {
    .div-submit-button {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .div-submit-button * {
        width: 100%;
        margin: 5px;
    }
}
