<div class="container">
    <div class="card-form">
        <h2>User Activation</h2>
        <form [formGroup]="formPasswordReset" (submit)="resetPassword()">
            <div class="label-field">
                <label class="label">E-mail:   {{ formPasswordReset.get('email')!.value }} </label>
            </div>
            <div class="label-field">
                <label class="label">New Password  Code: </label>
                <input formControlName="newPasswordCode" type="text" required class="text-field">
                <p *ngIf="formPasswordReset.get('newPasswordCode')!.invalid && formPasswordReset.get('newPasswordCode')!.touched"
                    class="error-field-message">
                    Error on new password code input.
                </p>
            </div>
            <div class="label-field">
                <label class="label">New Password: </label>
                <input formControlName="newPassword" type="password" required class="text-field">
                <p *ngIf="formPasswordReset.get('newPassword')!.invalid && formPasswordReset.get('newPassword')!.touched"
                    class="error-field-message">
                    Error on password input.
                </p>
            </div>
            <div>
                <div class="div-submit-button">
                    <button [disabled]="formPasswordReset.invalid" type="submit" class="send-button">Send</button>
                </div>
                <div class="div-submit-button-auth">
                    <a class="side-link" routerLink="/userregistration">New user?, Register here</a>
                    <a class="side-link" routerLink="/login">Make Login</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<app-error-message [errorMessage]="errorMessage" (onClose)="closeErrorMessage()" />