<div class="container-auth">
    <div class="card-auth">
        <div class="logo">
            <a><img src="../../../assets/logo.png">
                <h3>My Task List</h3>
            </a>
        </div>
        <h2>User Activation</h2>
        <form [formGroup]="formUserActivation" (submit)="activateUser()">
            <div class="label-field">
                <label class="label">E-mail: {{ formUserActivation.get('email')!.value }} </label>
            </div>
            <div class="label-field">
                <label class="label">Activation Code</label>
                <input formControlName="activationCode" type="text" required class="text-field">
                <p *ngIf="formUserActivation.get('activationCode')!.invalid && formUserActivation.get('activationCode')!.touched"
                    class="error-field-message">
                    Error on activation code input.
                </p>
            </div>

            <div>
                <div class="div-submit-button">
                    <button [disabled]="formUserActivation.invalid" type="submit" class="send-button">Send</button>
                </div>
                <div class="action-links">
                    <a class="side-link" routerLink="/recoverpassword">Forgot password?</a>
                    <a class="side-link" routerLink="/login">Make Login</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="loading">
    <app-loading></app-loading>
</div>

<app-error-message [errorMessage]="errorMessage" (onClose)="closeErrorMessage()" />