<div class="container" (click)="closeMenuList()">

    <!-- ----------------  selected list  ---------------- -->

    <div class="list">
        <div class="list-info">
            <div *ngIf="isSetShowAllTasks"><!--spacer--></div>
            <h2 *ngIf="isSetShowAllTasks">All My Tasks</h2>
            <div><!--spacer--></div>
            <h2 *ngIf="!isSetShowAllTasks && selectedTaskList">{{ selectedTaskList.listName }}</h2>
            <div *ngIf="!isSetShowAllTasks && selectedTaskList" class="list-actions-dropdown">
                <i class="fa fa-ellipsis-v" (click)="dropMenuList($event)"></i>

                <div *ngIf="showMenuList" class="list-actions-dropdown-content">
                    <ul>
                        <li (click)="newList()">
                            <i class="fa fa-plus-circle">
                                <span> New List</span>
                            </i>
                        </li>

                        <li *ngIf="!isSetShowAllTasks && selectedTaskList.id !== null && selectedTaskList.id > 0"
                            (click)="editList()">
                            <i class="fa fa-edit">
                                <span> Edit List</span>
                            </i>
                        </li>

                        <li *ngIf="!isSetShowAllTasks && tasks.length > 0" (click)="completeList()">
                            <i class="fa fa-check-square">
                                <span> Complete All tasks</span>
                            </i>
                        </li>

                        <li *ngIf="!isSetShowAllTasks && tasks.length > 0" (click)="uncompleteList()">
                            <i class="fa fa-square">
                                <span> Uncomplete all tasls</span>
                            </i>
                        </li>

                        <li *ngIf="!isSetShowAllTasks && selectedTaskList.id !== null && selectedTaskList.id > 0"
                            (click)="deleteList()" class="delete">
                            <i class="fa fa-trash">
                                <span> Delete List</span>
                            </i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- ----------------  tasks  ---------------- -->

    <div class="exib-options">
        <button class="send-button" (click)="newTask()">New Task</button>
        <i class="fa fa-list" *ngIf="showTasksAsCards" (click)="changeTaskExibition()"></i>
        <i class="fa fa-table" *ngIf="!showTasksAsCards" (click)="changeTaskExibition()"></i>
    </div>
    <div class="tasks">
        <div [ngClass]="{'list-tasks': !showTasksAsCards, 'card-tasks': showTasksAsCards}" class="list-tasks">
            <div *ngFor="let task of tasks; index as i">
                <app-task 
                    [showTasksAsCards]="showTasksAsCards" 
                    [task]="task" 
                    (onEdit)="editTask(task)"
                    (onDelete)="deleteTask(task.id)"
                    (onCoplete)="completeTask(task.id)"
                    (onUncomplete)="uncompleteTask(task.id)"
                    />
            </div>
        </div>
    </div>


</div>

<div *ngIf="loading">
    <app-loading></app-loading>
</div>

<app-error-message [errorMessage]="errorMessage" (onClose)="closeErrorMessage()" />
<app-confirm-message [message]="confirmMessageDelete" (onClose)="closeConfirmMessageDelete()"
    (onConfirm)="confirmDeleteList()" />
<app-confirm-message [message]="confirmMessageCompleteList" (onClose)="closeConfirmMessageCompleteList()"
    (onConfirm)="confirmCompleteList()" />
<app-confirm-message [message]="confirmMessageUncompleteList" (onClose)="closeConfirmMessageUncompleteList()"
    (onConfirm)="confirmUncompleteList()" />