/* You can add global styles to this file, and also import other style files */

/* ------------------------------------------------------- */
/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: center;
    font: sans-serif;
    color: #286f71;
}

hr {
    margin: 10px 30px 30px 30px;
}

body {
    background-color: #F6F6F6;
    min-height: 100vh;
    height: 100%;
}

i {
    color: #589fa1;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: 2px 0;
}

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */
/* Form items */

.label-field {
    padding: 3px 10px;
}

.text-field {
    margin: 5px 0 0;
    padding: 10px;
    outline: 0;
    resize: none;
    font-size: 16px;
    line-height: 17px;
    background-color: #fff;
    color: #818181;
    border: .2px solid #C1C1C1;
    border-radius: 9px;
    font-family: sans-serif;
    font-weight: 400;
    width: 100%;
}

.textarea {
    margin: 5px 0 0;
    padding: 15px;
    border: 0;
    border-radius: 0;
    outline: 0;
    resize: none;
    font-size: 16px;
    line-height: 17px;
    background-color: #fff;
    color: #818181;
    font-family: sans-serif;
    font-weight: 400;
    width: 100%;
    height: 5em;
    border: .2px solid #C1C1C1;
    border-radius: 9px;
}

.error-field-message {
    color: #A22029;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 5px;
    text-align: start;
}

.label {
    color: #555555;
    font-size: 16px;
    font-family: sans-serif;
}

.div-submit-button {
    margin-top: 15px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* Messages */

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background .message {
    max-width: 90%;
    max-height: 90%;
    margin: 0 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background .message .close-button {
    align-self: flex-end;
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* Cards Auth */
.container-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.container-auth .card-auth {
    background-color: #FEFEFE;
    padding: 30px 50px 50px 50px;
    box-shadow: #C0C0C0 3px 3px 6px;
    margin-bottom: 100px;
    max-width: 90%;
    min-width: 600px;
}

.card-auth h2 {
    margin-bottom: 20px;
}

.container-auth .card-auth .logo {
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-auth .card-auth .logo a img {
    width: 30px;
    margin: auto;
}

.div-submit-button {
    margin-top: 15px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.send-button {
    width: 100%;
    height: 39px;
    line-height: 36px;
    margin: 0;
    padding: 1px 25px;
    font-size: 13px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background .35s;
    border-radius: 50px;
    outline: none;
    border: 1px solid #589fa1;
    color: #FAFAFA;
    background-color: #589fa1;
}

.send-button:hover {
    background-color: #387f81;
    border: 1px solid #387f81;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.send-button:disabled {
    color: #FAFAFA;
    cursor: auto;
    border: 1px solid #A0A0A0;
    background-color: #A0A0A0;
}

.send-button:disabled:hover {
    color: #FAFAFA;
    cursor: auto;
    border: 1px solid #A0A0A0;
    background-color: #A0A0A0;
}

.action-links {
    margin-top: 15px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
}

.side-link {
    line-height: 36px;
    padding: 1px 10px;
    font-size: 13px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #589fa1;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* tasks and lists */

.task-form {
    max-width: 90%;
    width: 700px;
    margin: 30px auto;
    height: 100%;
    padding: 30px;
}

.action-button {
    width: 100%;
    max-width: 250px;
    height: 39px;
    line-height: 36px;
    margin: 0 10px;
    padding: 1px 25px;
    font-size: 13px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background .35s;
    border-radius: 50px;
    outline: none;
    border: 1px solid #589fa1;
    color: #FAFAFA;
    background-color: #589fa1;
}

.action-button:hover {
    background-color: #387f81;
    border: 1px solid #387f81;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.action-button:disabled {
    color: #FAFAFA;
    cursor: auto;
    border: 1px solid #A0A0A0;
    background-color: #A0A0A0;
}

.action-button:disabled:hover {
    color: #FAFAFA;
    cursor: auto;
    border: 1px solid #A0A0A0;
    background-color: #A0A0A0;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */


@media (max-width: 700px) {
    .div-submit-button {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .div-submit-button * {
        width: 100%;
        margin: 5px;
    }

    .action-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .container-auth .card-auth {
        max-width: 90%;
        min-width: 300px;
        margin-bottom: 50px;
    }
}