<div class="container">
    <div class="card-form">
        <h2>User Activation</h2>
        <form [formGroup]="formUserActivationRequest" (submit)="requestUserActivation()">
            <div class="label-field">
                <label class="label">E-mail:   {{ formUserActivationRequest.get('email')!.value }} </label>
            </div>
            
            <div class="label-field">
                <p>
                    To access the system you need to activate your user, do you want to receive an activation code by e-mail?
                </p>
            </div>
            
            <div>
                <div class="div-submit-button">
                    <button type="submit" class="send-button">Send</button>
                </div>
                <div class="div-submit-button-auth">
                    <a class="side-link" routerLink="/recoverpassword">Forgot password?</a>
                    <a class="side-link" routerLink="/login">Make Login</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<app-error-message [errorMessage]="errorMessage" (onClose)="closeErrorMessage()" />