<header>
  <div class="list-menu" *ngIf="isUserLoggedIn" (click)="onMenuClickEventHandler()">
    <i class="fa fa-bars"></i>
  </div>
    <div class="logo">
      <a routerLink="/"><img src="../../../../assets/logo.png"><span>My Task List</span></a>
    </div>
    <div class="user-menu">
      <div class="dropdown">
        <i class="fa fa-user-circle"></i>
        <div class="dropdown-content">
          <div *ngIf="isUserLoggedIn">
            <a>Hello {{ user!.name }}</a>
            <hr class="solid">
            <a routerLink="/">Home - My Lists and Tasks</a>
            <a routerLink="/profile">My Profile</a>
            <a routerLink="/mypassword">Change My Password</a>
            <hr class="solid">
            <a routerLink="/logout">Logout</a>
          </div>
          <div *ngIf="!isUserLoggedIn">
            <a routerLink="/login">Login</a>
          </div>
        </div>
      </div>
    </div>
    
</header>
