header {
    background-color: rgba(248, 248, 248, 0.75);
    padding: 10px;
    color: #858585;
    margin: 0;
    padding: 3px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 .2em #818181;
    min-height: 60px;
}

header .list-menu {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #6A816A;
    margin: auto 10px;
    padding: 10px;
    height: 100%;
}

i {
    color: #6A816A;
}

header .logo {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

header .logo a {
    color: #6A816A;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-weight: bold;
}

header .logo img {
    width: 30px;
    margin: 0 1em 0 0;
}

header .logo span {
    font-size: 1.5 em;
}

header .user-menu {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #6A816A;
    margin: auto 10px;
    padding: 10px;
    height: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(248, 248, 248, 0.95);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
}

.sidenav-open {
    width: 250px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #A1A1A1;
    display: block;
    transition: 0.2s;
}

.sidenav a:hover {
    color: #6A816A;
}

.sidenav .close-button {
    position: absolute;
    top: 20px;
    right: 25px;
    margin-left: 50px;
}

.sidenav .close-button i {
    padding: 10px;
    cursor: pointer;
    color: #6A816A;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
