<header>
  <div class="logo">
    <a routerLink="/"><img src="../../../../assets/logo.png"><span>My Task List</span></a>
  </div>
  <div class="list-menu" (click)="onMenuClick()">
    <i class="fa fa-user-circle"></i>
  </div>
</header>

<div class="sidenav" [ngClass]="{'sidenav-open': showMenu}">
  <div class="close-button">
    <i class="fa fa-close" (click)="closeMenu()"></i>
  </div>
  <a></a>
  <div *ngIf="!isUserLoggedIn">
    <a routerLink="/login" (click)="closeMenu()"><i class="fa fa-user-circle"> Login</i></a>
  </div>
  <div *ngIf="isUserLoggedIn">
    <a><i class="fa fa-user-circle"> Hello {{ user!.name }}</i></a>
    <a></a>
    <hr class="solid">
    <a></a>
    <a routerLink="/profile" (click)="closeMenu()">My Profile</a>
    <a routerLink="/mypassword" (click)="closeMenu()">Change My Password</a>
    <a></a>
    <a routerLink="/" (click)="closeMenu()">My Lists and Tasks</a>
    <a></a>
    <hr class="solid">
    <a routerLink="/logout" (click)="closeMenu()">Logout</a>
  </div>

</div>