<div class="container">

    <div class="lists">
        <div class="label-field">
            <label class="label">
                <p>My Lists</p>
            </label>
            <div class="list-info">
                <div class="list-actions">
                    <!-- <a routerLink="/listedit" class="send-link">New Task List</a> -->
                    <button class="send-button" (click)="newTask()">New Task List</button>
                    <button class="send-button" (click)="showAllMyTasks()">Show all my tasks</button>
                </div>
            </div>
        </div>
    </div>


</div>