.home-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
}

.home-content {
    width: 100%;
}

.sidenav-home {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: rgba(248, 248, 248, 0.95); */
    background-color: #FDFDFD;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 15px;
    box-shadow: 0 .15em .4em #818181;
}

.sidenav-home-open {
    width: 400px;
    max-width: 100%;
}

.sidenav-home .close-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sidenav-home .close-button i {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    color: #589fa1;
}

.list-menu {
    cursor: pointer;
    color: #589fa1;
    margin: 20px 10px;
    padding: 10px;
    max-width: 30px;
}

@media (max-width: 800px) {

    .sidenav-home {
        padding-top: 15px;
    }

    .sidenav-home-open {
        width: 380px;
        max-width: 100%;
    }

    .sidenav-home a {
        font-size: 18px;
    }

}