<div class="home-container">
    <div class="sidenav-home" [ngClass]="{'sidenav-home-open': showMenu}">
        <div class="close-button">
            <i class="fa fa-close" (click)="closeMenu()"></i>
        </div>
        <app-lists-view [taskLists]="taskLists" (onShowAllTasks)="showAllTasks()" (onSelectTaskList)="selectTaskList($event)"></app-lists-view>
        <div class="lists">

        </div>
    </div>
    <div class="home-content">
        <div class="list-menu" (click)="onMenuClick()">
            <i class="fa fa-bars"></i>
        </div>
        <app-tasks-view [showAllTasks]="isSetShowAllTasks" [selectedTaskList]="selectedTaskList" (onDelete)="updateLists()"></app-tasks-view>
    </div>
</div>