<div class="container-content">
    
    <div class="card-personal-info">
        <h2>My Personal Information</h2>
        <div class="profile-info">
            <div class="label-field">
                <label class="label"> {{ formProfile.get('firstName')!.value }} {{ formProfile.get('lastName')!.value }} </label>
            </div>
        </div>
        <hr/>
        <div class="profile-form">
            <form [formGroup]="formProfile" (submit)="updateProfile()">
                <div class="label-field">
                    <label class="label">First Name</label>
                    <input formControlName="firstName" type="text" required class="text-field">
                    <p *ngIf="formProfile.get('firstName')!.invalid && formProfile.get('firstName')!.touched"
                        class="error-field-message">
                        Error on first name input.
                    </p>
                </div>
                <div class="label-field">
                    <label class="label">Last Name</label>
                    <input formControlName="lastName" type="text" class="text-field">
                </div>
                <div>
                    <div class="div-submit-button">
                        <button [disabled]="formProfile.invalid" type="submit" class="send-button">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>

<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<app-error-message [errorMessage]="errorMessage" (onClose)="closeErrorMessage()" />
<app-success-message [message]="suscessMessage" (onClose)="closeMessage()" />
