<div class="container">
    <div class="list">
        <div class="list-info">
            <h2 *ngIf="showAllTasks">All My Tasks</h2>
            <h2 *ngIf="!showAllTasks && selectedTaskList">{{ selectedTaskList.listName }}</h2>
        </div>
        <div *ngIf="!showAllTasks && selectedTaskList" class="list-actions">
            <div (click)="openEditTaskListScreen()" class="action-item edit"><i class="fa fa-edit"> Edit</i></div>
        </div>
    </div>
    <hr />
    <div class="tasks">

    </div>
</div>

<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<app-error-message [errorMessage]="errorMessage" (onClose)="closeErrorMessage()" />
<app-success-message [message]="suscessMessage" (onClose)="closeMessage()" />